
.btn {
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;

    /* for the shadow button */
    position: relative;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transition-duration: .2s;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            transition-duration: .4s;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        transition-duration: .2s;
    }

    &--white {
        background-color: white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--animated {
        animation: moveInBottom .5s ease-in-out;
        animation-fill-mode: backwards;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        z-index: -1;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.3s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color-black,.15);
        transform: translateY(0);
    }

}